.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-background);
  padding: 20px;
  z-index: 199;
  overflow: hidden;
}

.overlay .overlayContent {
  max-width: 800px;
  width: 100%;
  position: relative;
}

.overlay .buttonWrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.overlay .closeButton {
  height: 24px;
  cursor: pointer;
}