.postDeleteConfirm {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.actionWrapper {
  display: flex;
  gap: 10px;
}
